/*======================================== 全体 ========================================*/

@charset "utf-8";

html {
    font-size: 14px;
    color: #333333;
}

body {
    font-family: Quicksand, 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif, slick;
    margin: 0;
    background-image: url("../img/bg_paper.png");
}

.clearfix::after {
    display: block;
    width: 0;
    height: 0;
    content: " ";
    clear: both;
}

h1 {
    color: #610901;
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
    margin: 10px 0 10px 0;
}

p {
    line-height: 1.5rem;
}

a {
    text-decoration: none;
    color: #610901;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

.pc {
    display: none;
}

.sp {
    display: block;
}

@media screen and (min-width: 768px) {
    .pc {
        display: block;
    }
    .sp {
        display: none;
    }
}

/*======== header ========*/

header {
    background-color: #D3381C;
    height: 45px;
}

.header-inner {
    display: flex;
}

.ic-book {
    display: inline-block;
    margin: 10px 0 0 10px;
}

.ic-book:hover {
    opacity: 0.7;
}

header ul {
    margin: 0;
    padding: 13px 0 0 0;
    list-style: none;
    display: flex;
    align-items: flex-end;

}

header a {
    color: #fff;
}

[class^="icon"] {
    position: relative;
    margin-left: 20px;
    margin-right: 3px;
    fill: #fff;
}

.icon-hatena {
    top: 2px;
}

.icon-search {
    top: 2px;
}

@media screen and (min-width: 768px) {
    header {
        height: 75px;
    }
    header li {
        font-size: 1.2rem;
    }
    .ic-book {
        margin: 15px 0 0 10px;
    }
    [class^="icon"] {
        margin-left: 40px;
    }
}

/*ログイン画面*/

.login-title {
    font-size: 1.2rem;
    padding: 40px 0 40px 0;
}



/*======== breadcrumbs ========*/

.breadcrumbs-inner {
    padding: 10px 0 20px 10px;
    font-size: 0.9rem;
    line-height: 1.5;
}

.breadcrumbs a {
    text-decoration: underline;
    color: #610901;
}

/*======== footer ========*/

footer {
    background: #D3381C;
}

.footer-inner {
    margin-top: 40px;
    padding: 20px 20px 10px 20px;
}

.footer-inner ul {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.footer-inner li a {
    color: #fff;
    font-size: 0.8rem;
}

.footer-inner li:before {
    content: url(../img/triangle.png);
    margin: 4px;
    position: relative;
    top: -1px;
}

.footer-inner p {
    color: #fff;
    font-size: 0.8rem;
    text-align: center;
}

/*======================================== index ========================================*/

/*======== sp ========*/

.in-section {
    padding: 0 10px;
}

.in-container {
    height: 96vh;
    margin: 10px auto;
    border: solid 2px #D3381C;
}

.in-main {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    height: 100%;
}

.in-main-right {
    width: 20%;
    position: relative;
}

.in-main-right img {
    width: 25px;
    position: absolute;
    top: 25px;
    right: 25px;
}

.in-main-center {
    width: 60%;
}

.in-main-center-title {
    width: 92px;
    margin: 130px auto 40px auto;
}

.in-main-center-btn {
    width: 72px;
    margin: 0 auto;
}

.in-main-center-btn-pen {
    display: block;
    text-decoration: none;
    background: #fff;
    width: 68px;
    height: 68px;
    border: solid 2px #D3381C;
    line-height: 68px;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    vertical-align: middle;
    overflow: hidden;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.29);
    transition: .3s;
}

.in-main-center-btn-pen:hover {
    background: #D3381C;
}

.in-main-center-btn-pen:active {
    -ms-transform: translateY(2px);
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
}

.in-main-center-btn-pen img {
    margin: 17px auto 0 auto;
    display: block;
}

.in-main-left {
    width: 20%;
    position: relative;
}

.in-main-left img {
    margin-left: 15px;
    position: absolute;
    bottom: 15px;
}

/*======== pc ========*/

@media screen and (min-width: 768px) {
    .in-main-center-title {
        width: 373px;
        margin: 25% auto 100px auto;
    }
}

/*======================================== menu ========================================*/

/*======== sp ========*/

.me-main-top-title {
    width: 153px;
    margin: 65px auto 45px auto;
}

.me-main-middle {
    margin-bottom: 10%;
}

.text18 {
    color: #610901;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    line-height: 1.7;
    margin-bottom: 20px;
}

.me-main-bottom-btn {
    overflow: hidden;
    width: 90%;
    height: 50px;
    margin: 0 auto 10px auto;
    border-radius: 8px;
    border: solid 2px #D3381C;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.29);

}

.me-main-bottom-btn a {
    display: block;
    position: relative;
    z-index: 100;
    background: #fff;
    color: #610901;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 50px;
    text-decoration: none;
    padding-left: 10px;
}

/* マウスオーバーカラー */

.me-main-bottom-btn a:hover {
    background: #D3381C;
    color: #fff;
}

/*赤い丸 */

.arrow-icon a:before {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    right: 10px;
    width: 18px;
    height: 18px;
    margin-top: -9px;
    border-radius: 50%;
    background: #D3381C;
}

/*「after要素」で三角 */

.arrow-icon a:after {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    right: 10px;
    width: 0;
    height: 0;
    margin-top: -5px;
    border: 5px solid transparent;
    /*top right bottom を透明化 */
    border-left: 6px solid #fff;
}

/*「after要素」のマウスオーバー（カラーを合わせる） */

.arrow-icon a:hover:after {
    border-left: 6px solid #D3381C;
}

.arrow-icon a:hover:before {
    background: #fff;
}

/*======== pc ========*/

@media screen and (min-width: 768px) {
    .me-main-top-title {
        width: 226px;
        margin: 10% auto 45px auto;
    }
    .text18 {
        font-size: 1.4rem;
    }
    .me-main-middle {
        margin-bottom: 7%;
    }
    .me-main-bottom-btn {
        width: 330px;
        margin: 0 7px 14px 7px;
    }
    .me-main-bottom-first,
    .me-main-bottom-second {
        display: flex;
        justify-content: center;
    }
}

/*======================================== About ========================================*/

/*======== sp ========*/

.box-title {
    margin: 10px;
    padding: 10px 15px;
    background-color: #fff;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
}

.h1-title p {
    color: #D3381C;
}

hr {
    height: 1px;
    border: none;
    border-top: 2px #D3381C dashed;
    margin: 0 0 10px 0;
}

.ab-text {
    margin-top: 10px;
    font-size: 1.2rem;
    line-height: 1.7;
}

.ab-text span {
    font-size: 1.5rem;
    color: #D3381C;
}

.box-content {
    margin: 15px 10px;
    background-color: #fff;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
}

.h2-title h2 {
    font-size: 1.4rem;
    font-weight: bold;
    color: #610901;
    background: rgb(255, 241, 239);
    padding: 15px 10px;
    text-align: center;
    border-radius: 6px 6px 0 0;
}

.box-content-text {
    padding: 5px 15px 10px;
}

.box-h3 {
    padding: 20px 10px 0 10px;
}

.box-h3 p {
    font-size: 1.2rem;
    font-weight: bold;
    color: #610901;
    margin-bottom: 5px;
}

.box-icon {
    text-align: center;
    margin: 20px 0 10px 0;
}

.h4-red {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2rem;
    color: #D3381C;
    text-align: center;
}

.look-sample,
.try-search {
    margin: 30px 0;
    font-size: 1.2rem;
    text-decoration: underline;
    text-align: center;
}

.look-sample:before {
    content: url(../img/newwindow.png);
    margin: 6px;
    position: relative;
    top: 5px;
}

.try-search:before {
    content: url(../img/try-seach.png);
    margin: 6px;
    position: relative;
    top: 4px;
}

.add-info {
    margin-top: 20px;
}

.h2-title-blue h2 {
    font-size: 1.4rem;
    font-weight: bold;
    color: #012651;
    background: #e4f0fd;
    padding: 15px 10px;
    text-align: center;
    border-radius: 6px 6px 0 0;
}

.box-h3-blue {
    padding: 20px 10px 0 10px;
    clear: both;
}

.box-h3-blue p {
    font-size: 1.2rem;
    font-weight: bold;
    color: #001833;
    margin-bottom: 5px;
}

.blue-hr {
    height: 1px;
    border: none;
    border-top: 2px #012651 dashed;
    margin: 0;
}

.h4-blue {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2rem;
    color: #012651;
    text-align: center;
}

.look-sample-blue {
    margin: 30px 0;
    font-size: 1.2rem;
    text-decoration: underline;
    text-align: center;
}

.look-sample-blue:before {
    content: url(../img/newwindow-blue.png);
    margin: 6px;
    position: relative;
    top: 5px;
}

.look-sample-blue a {
    text-decoration: none;
    color: #103467;
}

.register-btn {
    overflow: hidden;
    width: 60%;
    max-width: 300px;
    height: 50px;
    margin: 40px auto 10px auto;
    border-radius: 8px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.29);
    /*    clear: both;*/
}

.register-btn a {
    display: block;
    position: relative;
    z-index: 100;
    background: #D3381C;
    color: #fff;
    font-size: 1.2rem;
    line-height: 50px;
    text-decoration: none;
    padding-left: 10px;
    text-align: center;
}

/* マウスオーバーカラー */

.register-btn a:hover {
    background: #fff;
    color: #D3381C;
}

.register-btn a:active {
    -ms-transform: translateY(2px);
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
}

/*======== pc ========*/

@media screen and (min-width: 768px) {
    .container {
        max-width: 980px;
        margin: 0 auto;
    }
    .box-title {
        padding: 20px 20px;
    }
    .ab-text {
        margin-top: 15px;
    }
    .box-content {
        height: 430px;
        max-width: 470px;
        float: left;
    }
    .box-h3 {
        padding: 30px 10px 5px 10px;
    }
    .box-h3-blue {
        padding: 30px 10px 5px 10px;
    }

    .last-box {
        margin-bottom: 40px;
    }
    .footer-inner ul {
        display: flex;
        justify-content: flex-start;
    }
    .footer-inner li {
        padding-right: 20px;
    }

}

/*======================================== Search ========================================*/

/*======== sp ========*/

.se-box-content {
    margin: 10px;
    background-color: #fff;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
}

.se-title-text {
    color: #610901;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    line-height: 1.7;
    padding: 40px 0 30px 0;
}

.se-main-btn {
    overflow: hidden;
    width: 99%;
    margin: 0 auto 10px auto;
    border-radius: 8px;
    border: solid 2px #D3381C;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.29);
}

/* マウスオーバーカラー */

.arrow-icon-bottom a:hover {
    background: #D3381C;
    color: #fff;
    text-decoration: none;
}

/*赤い丸下向き */

.arrow-icon-bottom a:before {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    right: 10px;
    width: 18px;
    height: 18px;
    margin-top: -9px;
    border-radius: 50%;
    background: #D3381C;
}

/*「after要素」で三角 */

.arrow-icon-bottom a:after {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    right: 14px;
    width: 0;
    height: 0;
    margin-top: -3px;
    border: 5px solid transparent;
    /*top right bottom を透明化 */
    border-top: 7px solid #fff;
}

/*「after要素」のマウスオーバー（カラーを合わせる） */

.arrow-icon-bottom a:hover:after {
    border-top: 7px solid #D3381C;
}

.arrow-icon-bottom a:hover:before {
    background: #fff;
}

.acdn-content {
    padding: 10px;
    display: none;
}

.dashedline-title {
    margin-top: 10px;
}

.acdn-content a {
    line-height: 1.2;
}

.acdn-content li {
    text-decoration: underline;
    margin: 1rem 0;
}

.acdn-button {
    display: block;
    position: relative;
    z-index: 100;
    background: #fff;
    color: #610901;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 50px;
    text-decoration: none;
    padding-left: 10px;
}

.acdn-button.active {
    background: #D3381C;
    color: #fff;
}

.arrow-icon-bottom a.active:after {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    right: 14px;
    width: 0;
    height: 0;
    margin-top: -9px;
    border: 5px solid transparent;
    /*top right bottom を透明化 */
    border-bottom: 7px solid #D3381C;
}

.arrow-icon-bottom a.active:before {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    right: 10px;
    width: 18px;
    height: 18px;
    margin-top: -9px;
    border-radius: 50%;
    background: #fff;
}

.close-btn {
    padding: 20px 0 20px 0;
    text-align: center;
    width: 120px;
    margin: 0 auto;
    cursor: pointer;
}

.close-btn a {
    color: #D3381C;
    font-size: 1.2rem;
    font-weight: bold;
    border-bottom: 1px solid #D3381C;
    padding-bottom: 5px;
}

.close-btn a:hover {
    text-decoration: none;
}

.tojiru-sankaku {
    font-size: 1rem;
    padding-bottom: 2px;
}

.arrow-icon-top a:before {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    right: 10px;
    width: 18px;
    height: 18px;
    margin-top: -9px;
    border-radius: 50%;
    background: #fff;
}

.arrow-icon-top a:after {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    right: 14px;
    width: 0;
    height: 0;
    margin-top: -9px;
    border: 5px solid transparent;
    /*top right bottom を透明化 */
    border-bottom: 7px solid #D3381C;
}

.job-name {
    padding-bottom: 5px;
}

/* 質問とその回答で探す */

.qa {
    width: 100%;
}

.qa-answer {
    margin: 0 auto 15px auto;
    padding: 10px;
    border: solid 1px #eee;
    border-radius: 6px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.29);
    background: #fff;
}

.qa-answer a {
    font-size: 1rem;
    font-weight: normal;
    color: #333333;
    padding: 0;
}

.qa-answer-title {
    display: flex;
    justify-content: space-between;
}

.star {
    color: #F5A623;
}

.dashedline-question {
    margin-top: 10px;
    font-weight: bold;
    color: #610901;
}

.qabox {
    width: 250px;
    border-radius: 6px;
    background: #FBFBFB;
    padding: 5px 15px;
    margin: 0 5px;
}

.other-answer {
    font-size: 1rem;
    padding: 0 0 10px 0;
    background: none;
    text-decoration: underline;
    text-align: center;
}

.other-answer a:before {
    content: url(../img/reload.png);
    margin: 6px;
    position: relative;
    top: 5px;
}

.select-box select {
    position: relative;
    width: 100%;
    padding: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #999;
    background: #fff;
    box-shadow: 0px 0px 2px 1px #ddd inset;
}

.select-box label {
    position: relative;
}

.acdn-content input {
    margin-top: 20px;
}

#acdn-target3 input {
    display: block;
    overflow: hidden;
    width: 70%;
    max-width: 250px;
    height: 50px;
    margin: 20px auto 15px auto;
    border-radius: 8px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.29);
    background: #D3381C;
    color: #fff;
    font-size: 1.2rem;
}

.where-text {
    padding-top: 5px;
}

.se-main-lucky-btn {
    overflow: hidden;
    width: 99%;
    height: 50px;
    margin: 0 auto 10px auto;
    border-radius: 8px;
    border: solid 2px #D3381C;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.29);
}

.se-main-lucky-btn a {
    display: block;
    position: relative;
    z-index: 100;
    background: #fff;
    color: #610901;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 50px;
    text-decoration: none;
    padding-left: 10px;
}

/* マウスオーバーカラー */

.se-main-lucky-btn a:hover {
    background: #D3381C;
    color: #fff;
}

/* 今週の初めましてさん */

.newcomer {
    margin: 15px 0;
}

.newcomer-text {
    border: solid 1px #D3381C;
    background: #fff;
    border-radius: 8px;
    padding: 10px;
    margin: 5px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.29);
    width: 130px;
}

@font-face {
    font-family: 'slick';
    src: url(/slick.ttf);
}

.slick-prev:before,
.slick-next:before {
    font-family: 'slick';
    font-size: 25px;
    line-height: 1;
    opacity: .5;
    color: #000;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*======== pc ========*/

@media screen and (min-width: 768px) {
    .select {
        display: flex;
        justify-content: space-around;
        padding: 20px 0;
    }
    .select-box {
        width: 30%;
    }
    .se-main-btn {
        margin-bottom: 40px;
    }
    .se-title-text {
        font-size: 1.6rem;
        padding: 60px 0 40px 0;
    }
    .qa {
        padding-top: 20px;
    }
    .se-main-lucky-btn {
        margin-bottom: 40px;
    }
}

/*======================================== search-job ========================================*/

/*======== sp ========*/

.tab-area {
    margin-top: 20px;
}

.tab {
    overflow: hidden;
}

.tab li {
    background: #ccc;
    padding: 15px 40px;
    float: left;
    margin-right: 3px;
    border-radius: 6px 6px 0 0;
    color: #777;
}

.tab li.tab-select {
    background: #D3381C;
    color: #fff;
}

.tab-content li {
    background: #eee;
    padding: 15px 15px 1px 15px;
    border-radius: 0 6px 6px 6px;
}

.hide {
    display: none;
}

.tab-content-box {
    margin: 0 auto 15px auto;
    padding: 10px;
    border: solid 2px #D3381C;
    border-radius: 6px;
    /*    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.29);*/
    background: #fff;
}

.tab-content-box a {
    font-size: 1rem;
    font-weight: normal;
    color: #333333;
    padding: 0;
}

.tab-person {
    display: flex;
    justify-content: space-between;
}

.search-other-btn {
    overflow: hidden;
    width: 70%;
    max-width: 300px;
    height: 50px;
    margin: 40px auto 10px auto;
    border-radius: 8px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.29);
    /*    clear: both;*/
}

.search-other-btn a {
    display: block;
    position: relative;
    z-index: 100;
    background: #D3381C;
    color: #fff;
    font-size: 1.2rem;
    line-height: 50px;
    text-decoration: none;
    padding-left: 10px;
    text-align: center;
}

/* マウスオーバーカラー */

.search-other-btn a:hover {
    background: #fff;
    color: #D3381C;
}

.search-other-btn a:active {
    -ms-transform: translateY(2px);
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
}

/*======== pc ========*/

@media screen and (min-width: 768px) {
    .tab-area {
        margin-top: 30px;
    }
    .tab li {
        padding: 15px 80px;
        margin-right: 6px;
    }

}

/*======================================== result-books ========================================*/

/*======== sp ========*/

.mybest-box {
    margin: 10px;
    padding: 10px 15px 15px 15px;
    background-color: #fff;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
}

.profile {
    display: flex;
    justify-content: space-between;
}

.profile-text {
    width: 95%;
}

.profile-img {
    min-width: 66px;
    height: 66px;
    background-image: url(../img/profile-img.png);
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid #D3381C;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.29);
    cursor: pointer;
}

.profile-img:hover {
    opacity: 0.5;
}

.profile-btn {
    position: fixed;
    right: 37px;
    top: 140px;
}

.book {
    display: flex;
    align-items: center;
    padding: 15px 0;
    border-radius: 8px;
    background: #eee;
}

.book-age {
    width: 70px;
    height: 70px;
    -webkit-border-radius: 35px;
    /* width,heightの半分 */
    -moz-border-radius: 35px;
    border-radius: 35px;
    background-color: #D3381C;
    margin: 0 auto;
    position: relative;
}

.book-age p {
    width: 70px;
    padding-top: 24px;
    text-align: center;
    color: #fff;
}

.book-age span {
    font-size: 1.6rem;
}

.book-box {
    margin: 0 auto;
}

.book-icon {
    padding-top: 5px;
    display: flex;
}

.book-icon li {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.mybest-icon img,
.comment-icon img {
    padding-right: 4px;
}

.arrow {
    display: block;
    text-align: center;
    padding: 15px 0;
}

.re-content-box {
    margin: 0 auto 15px auto;
    padding: 10px;
    border: solid 2px #D3381C;
    border-radius: 6px;
    /*    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.29);*/
    background: #fff;
    min-height: 102px;
}

.re-content-box a {
    font-size: 1rem;
    font-weight: normal;
    color: #333333;
    padding: 0;
}

/*モーダル表示エリア*/

.re-modal {
    background: #fff;
    border-radius: 6px;
    margin-top: 10px;
    padding: 10px;
}

.re-modal p {
    color: #333;
}

.remodal-contents {
    border-radius: 6px;
    border: solid 1px #D3381C;
    margin-bottom: 30px;
}

.bookimg {
    padding: 20px 0;
}

.remodal-contents h2 {
    background-color: #D3381C;
    border-radius: 6px 6px 0 0;
    font-size: 1.5rem;
    text-align: left;
    padding: 15px;
}

.book-question {
    font-size: 1rem;
    font-weight: normal;
    padding: 15px;
    text-align: left;
    color: #610901;
}

.remodal h3 {
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    line-height: 1.5;
}

.book-question h3 img {
    padding-right: 5px;
}

.book-question p {
    line-height: 2;
}

.amazon-btn {
    padding: 20px;
}

.amazon-btn a {
    display: block;
    text-align: center;
}

.amazon-btn:hover {
    opacity: 0.5;
}

.addbook-btn {
    overflow: hidden;
    width: 244px;
    max-width: 300px;
    height: 50px;
    margin: 0 auto 40px auto;
    border-radius: 8px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.29);
    /*    clear: both;*/
}

.addbook-btn a {
    display: block;
    position: relative;
    z-index: 100;
    background: #D3381C;
    color: #fff;
    font-size: 1.2rem;
    line-height: 50px;
    text-decoration: none;
    padding-left: 10px;
    text-align: center;
}

.addbook-btn a:hover {
    background: #fff;
    color: #D3381C;
}

.addbook-btn a:active {
    -ms-transform: translateY(2px);
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
}

.comment textarea {
    width: 97%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #999;
    background: #fff;
    box-shadow: 0px 0px 2px 1px #ddd inset;
    border-radius: 6px;
    line-height: 2;
    font-size: 1rem;
    padding: 5px;
    margin-bottom: 20px;
}

.posted-comment p {
    text-align: left;
}

.posted-comment-text {
    border: 1px solid #999;
    border-radius: 6px;
    padding: 10px;
    background: #eee;
    margin-bottom: 10px;
}

.posted-comment-text hr {
    height: 1px;
    border: none;
    border-top: 2px #aaa dashed;
    margin: 0 0 10px 0;
}

.posted-name {
    display: flex;
    justify-content: space-between;
}

.iine-btn a {
    display: block;
    color: #999;
    width: 200px;
    max-width: 250px;
    margin: 20px auto 10px auto;
    padding: 10px 0;
    border: solid 1px #999;
    border-radius: 8px;
    background: #fff;
    text-align: center;
    vertical-align: middle;
}

.iine-btn a:hover {
    color: #F5A623;
    text-decoration: none;
}

.personimg {
    padding: 20px 0 0 0;
}

.personal-info {
    width: 199px;
    margin: 0 auto;
}

.personal-info p {
    text-align: right;
}

.personal-info ul {
    padding-bottom: 10px;
}

.personal-info li {
    color: #333;
    text-align: left;
    line-height: 1.5;
    font-weight: bold;
}

/*======================================== my page ========================================*/

.mypage-info {
    display: flex;
    border: solid 1px #D3381C;
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 20px;
}

.mypage-info img {
    padding-right: 5px;
}

.mypage-info li {
    font-size: 0.9rem;
    line-height: 1.5;
}

.info-number {
    color: #D3381C;
}

.search-book {
    font-size: 1.2rem;
    font-weight: bold;
    color: #610901;
    padding-bottom: 5px;
}

#search-box {
    background-color: white;
    height: 30px;
    border: solid 1px #999;
}

#search-box input {
    vertical-align: top;
    margin: 0px;
    height: 100%;
    box-sizing: border-box;
    background-color: transparent;
}

#search-box {
    border-radius: 6px;
    margin-bottom: 20px;
}

#search-input {
    border: none;
    width: 85%;
    padding-left: 10px;
}

#search-submit {
    width: 13%;
    text-align: center;
    border: none;
    background-image: url("/img/search-gray.png");
    background-position: center;
    background-size: auto 60%;
    background-repeat: no-repeat;
}

.mypage-sqbtns {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.mypage-sqbtn {
    border: solid 1px #D3381C;
    border-radius: 6px;
    width: 48%;
    background: #fff;
}

.mypage-sqbtn dt {
    text-align: center;
    background: #D3381C;
    border-radius: 6px 6px 0 0;
    padding: 5px 0;
    color: #fff;
}

.sqbtn-text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    line-height: 1.3;
    font-size: 0.8rem;
}

.sqbtn-text img {
    padding-right: 8px;
}

.my-main-btns {
    margin: 10px 0;
}

.my-main-btn {
    overflow: hidden;
    height: 50px;
    margin: 0 auto 10px auto;
    border-radius: 8px;
    border: solid 1px #D3381C;
}

.my-main-btn a {
    display: block;
    position: relative;
    z-index: 100;
    background: #fff;
    color: #610901;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 50px;
    text-decoration: none;
    padding-left: 10px;
}

/* マウスオーバーカラー */

.my-main-btn a:hover {
    background: #D3381C;
    color: #fff;
}

/*======================================== 10 years ========================================*/

.change-date {
    padding-bottom: 15px;
}

.diary-area {
    width: 300px;
    margin: 0 10px;
}

.diary-box {
    border-radius: 6px;
    background: #fff;
    margin: 10px 5px;
    padding: 5px 15px;
    border: solid 2px #ccc;
}

.diary-box a {
    font-size: 1rem;
    font-weight: normal;
    color: #333333;
    padding: 0;
}

.diary-date {
    display: flex;
    justify-content: space-between;
}

.diary-date p {
    font-size: 0.9rem;
}

.diary-date a {
    font-size: 0.9rem;
    text-decoration: underline;
    color: #610901;
}

.diary-date a img {
    padding-right: 5px;
}

.diary-box hr {
    height: 1px;
    border: none;
    border-top: 2px #ccc dashed;
    margin: 0 0 10px 0;
}

/*======================================== memo ========================================*/

.memo-h1-title {
    margin-bottom: 30px;
}

.memo-h1-title p {
    color: #D3381C;
}

.memo-book-icon {
    padding: 0;
    display: flex;
}

.memo-book-icon li {
    display: flex;
    align-items: center;
    margin: 4px 20px 0 0;
    text-decoration: none;
}

/*======================================== memo-search ========================================*/

.search-no {
    font-size: 0.8rem;
    border-bottom: solid 1px #ccc;
}

.search-result {
    display: flex;
    padding: 15px 0;
    border-bottom: dashed 1px #ccc;
}

.search-result-book {
    padding-right: 10px;
}

.search-text p {
    padding-bottom: 5px;
}

.se-register-btn {
    overflow: hidden;
    width: 60%;
    max-width: 300px;
    border-radius: 8px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.29);
}

.se-register-btn a {
    display: block;
    position: relative;
    z-index: 100;
    background: #D3381C;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    text-align: center;
}

/* マウスオーバーカラー */

.se-register-btn a:hover {
    background: #fff;
    color: #D3381C;
}

.se-register-btn a:active {
    -ms-transform: translateY(2px);
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
}

.wantbook-btn {
    overflow: hidden;
    width: 90%;
    height: 50px;
    margin: 0 auto 10px auto;
    border: solid 2px #D3381C;
    border-radius: 8px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.29);
}

.wantbook-btn a {
    display: block;
    position: relative;
    z-index: 100;
    background: #fff;
    color: #610901;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 50px;
    text-decoration: none;
    padding-left: 10px;
    text-align: center;
}

.wantbook-btn a:hover {
    background: #D3381C;
    color: #fff;
}

.wantbook-btn a:active {
    -ms-transform: translateY(2px);
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
}

.me-main-btn {
    overflow: hidden;
    width: 90%;
    margin: 0 auto 10px auto;
    border-radius: 8px;
    border: solid 2px #D3381C;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.29);
}

.me-button {
    display: block;
    position: relative;
    z-index: 100;
    background: #fff;
    color: #610901;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 50px;
    text-decoration: none;
    padding-left: 10px;
}

.me-button.active {
    background: #D3381C;
    color: #fff;
}

.edit-btn {
    overflow: hidden;
    width: 244px;
    max-width: 300px;
    height: 50px;
    margin: 25px auto 20px auto;
    border-radius: 8px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.29);
}

.edit-btn a {
    display: block;
    position: relative;
    z-index: 100;
    background: #012651;
    color: #fff;
    font-size: 1.2rem;
    line-height: 50px;
    text-decoration: none;
    padding-left: 10px;
    text-align: center;
}

.edit-btn a:hover {
    background: #fff;
    color: #012651;
}

.edit-btn a:active {
    -ms-transform: translateY(2px);
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
}

.montlybest-btn {
    overflow: hidden;
    width: 244px;
    max-width: 300px;
    height: 50px;
    margin: 25px auto 20px auto;
    border-radius: 8px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.29);
}

.montlybest-btn a {
    display: block;
    position: relative;
    z-index: 100;
    background: #D3381C;
    color: #fff;
    font-size: 1.2rem;
    line-height: 50px;
    text-decoration: none;
    padding-left: 10px;
    text-align: center;
}

.montlybest-btn a:hover {
    background: #fff;
    color: #D3381C;
}

.montlybest-btn a:active {
    -ms-transform: translateY(2px);
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
}

/*======================================== want-read ========================================*/

.se-register-btn-red {
    overflow: hidden;
    width: 189px;
    border-radius: 8px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.29);
}

.se-register-btn-red a {
    display: block;
    position: relative;
    z-index: 100;
    background: #D3381C;
    color: #fff;
    text-decoration: none;
    text-align: center;
    padding: 12px 0;
}

/* マウスオーバーカラー */

.se-register-btn-red a:hover {
    background: #fff;
    color: #D3381C;
}

.se-register-btn-red a:active {
    -ms-transform: translateY(2px);
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
}


.se-register-btn-blue {
    overflow: hidden;
    width: 189px;
    border-radius: 8px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.29);
}

.se-register-btn-blue a {
    display: block;
    position: relative;
    z-index: 100;
    background: #012651;
    color: #fff;
    text-decoration: none;
    text-align: center;
    padding: 12px 0;
}

/* マウスオーバーカラー */

.se-register-btn-blue a:hover {
    background: #fff;
    color: #012651;
}

.se-register-btn-blue a:active {
    -ms-transform: translateY(2px);
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
}

.se-register-btn-amazon:hover {
    opacity: 0.5;
}

.three-btn {
    margin: 5px 0;
}

/*======================================== montly-read ========================================*/

.month {
    display: flex;
    justify-content: space-between;
    background: #ddd;
    padding: 5px;
    margin-bottom: 10px;
}

.month a {
    text-decoration: underline;
    color: #610901;
}

.this-month {
    font-size: 1.2rem;
}

.paging {
    display: flex;
    justify-content: center;
    padding: 20px 0 10px 0;
}

.next,
.back {
    background: #D3381C;
    padding: 8px 24px;
    border-radius: 6px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.29);
}

.next a,
.back a {
    color: #fff;
}

.back {
    margin-right: 40px
}

/*======================================== edit-profile ========================================*/

.edit-title {
    background: #ddd;
    padding: 4px;
    margin: 10px 0;
    color: #610901;
    font-size: 0.9rem;
    font-weight: bold;
}

.required {
    background: #D3381C;
    font-size: 0.6rem;
    padding: 3px;
    color: #fff;
    margin-left: 10px;
}

.edit-img {
    display: flex;
    padding-bottom: 10px;
}

.change-img-box {
    display: flex;
    align-items: center;
}

.change-img {
    margin-right: 5px;
}

.change-img-text {
    color: #610901;
    font-weight: bold;
    text-decoration: underline;
}

.change-img-text:hover {
    text-decoration: none;
}

.hosoku {
    font-size: 0.9rem;
}

.edit-img-ex {
    padding-top: 20px;
}

.current-img {
    padding-right: 10px;
}

.edit-answer {
    padding-bottom: 10px;
}

.edit-answer textarea {
    width: 95%;
    height: 50px;
}

.save-edit-btn {
    display: block;
    overflow: hidden;
    width: 70%;
    max-width: 250px;
    height: 50px;
    margin: 20px auto 15px auto;
    border-radius: 8px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.29);
    background: #D3381C;
    color: #fff;
    font-size: 1.2rem;
}

#edit-profile textarea,
.name {
    position: relative;
    width: 94%;
    padding: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #999;
    background: #fff;
    box-shadow: 0px 0px 2px 1px #ddd inset;
    border-radius: 6px;

}

.edit-box {
    padding-bottom: 20px;
}

.if-nojob {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    color: #610901;
    text-decoration: underline
}

.if-nojob img {
    padding-right: 10px;
}

.not-everyQ {
    text-align: center;
    font-size: 0.8rem;
    padding-top: 5px;
}
